{% extends 'sample_app/base.html' %} {% block title %}テストページ{% endblock title %} {% block content %}
<!-- object.xxxxのobjectにはviewで持ってきたobject名を入れなくてはいけない -->
<h1>{{ object.name }}</h1>
<section class="post-text">
    {{ object.memo|linebreaksbr }}
</section>
<section class="post-date">
    <p>Created: {{ object.created_at }}<span>/</span>Updated: {{ object.updated_at }}</p>
</section>
<!-- エラーが出ている原因自体はここ urlディスパッチャの使い方は ’namespace名:name'となっている -->
<!-- 詰まるところurls.pyと照らし合わせなければならない、今回の場合 'sample_app:index'などとなる -->
<img src='{% url ' monitor:plot ' object.pk %}' width=600 height=600>
<section>
    <p>
        <a href="javascript:history.back()">
            < Back</a>
    </p>
</section>
{% endblock content %}